
.root{
    margin-top:4rem;
}

.root_container{
    width: 50%;
    margin: 0 auto;
    padding:5rem
}

.root_container_content_title{
    font-family:insta;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 100px;
letter-spacing: 0em;
text-align: center;
margin-top: 10px;
color:#363943;


}

.root_container_content_text{
    font-family: Calibri;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: #8C8B92;

}


@media only screen and (max-width: 570px) {
    .root_container{width:98%; padding:3rem}
 .root_container_content_title{ 
     font-size: 32px;
     line-height: 55px;
    
    }
    .root_container_content_text{
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
    }
   
}