*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.menu_sections{
    margin-top:4rem;
 }

 .menu_sections_container{
     width: 73%;
     margin: 0 auto;
     
 }

 .menu_sections_container_content{
     width: 100%;
     /* height: 30vh; */
    
 }


 .form_menu{
   
     width: 100%;
   
 }

 .form_field{
     border:1px solid #DEA11B;
     margin-top: 2rem;
     padding:0 20px;
     padding-bottom:1.3rem;
 }

 .legend_content{
     display: flex;
     /* border: 2px solid red; */
     padding: .2rem;
     align-items: center;
    
 }
 .legend{
  color: #DEA11B;
  font-family:insta;
font-size: 37px;
font-style: normal;
font-weight: 400;
line-height: 70px;
letter-spacing: 0em;
text-align: left;
padding-left: 15px;
padding-right: 15px;


 }
 .legend_content_col-1{
     width:60%;
     /* border: 2px solid green; */

/* align-self: center; */
/* border:2px solid yellow */
    

 }

 .legend_content_col-2{
     width: 25%;
     height: 1px;
     /* align-self: center; */
     /* background-color:#8C8B92; */
     background-color: grey;
    
     
 }


 .legend_content_col-3{
    /* border:2px solid green; */
     width: 15%;
     /* border: 2px solid green; */
     /* align-self: center; */
     text-align: center;
    
     font-family: Calibri;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: right;
color: #DEA11B;


 }


 .legend_content_col-1_text{
    font-family: Calibri;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;

    text-align: left;
    margin-top: 8px;
    color:#363943;
    
   
 }
.legend_content_col-1_text2{
    font-family: Calibri;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: 26px; */
    letter-spacing: 0em;
    text-align: left;
     color: #8C8B92;
     align-self:flex-start;
 
    
 }

 .vector_side-1,.vector_side-5{
     /* border:2px solid green; */
     position: absolute;
     left: 0;
     margin-top:-6rem;
     width:10%;
     height:10%
     
     
}
.vector_side-3{
    position: absolute;
    left: 0;
    margin-top:3rem;

    width:10%;
    height:10%

}
.vector_side_img{
    width: 100%;
    height: 100%;
}
.vector_side-2,.vector_side-4{
    /* border:2px solid green; */
    position: absolute;
    right: 0;
    margin-top:4rem;
    width: 10%;
    height: 10%;
}


 @media only screen and (max-width: 570px) {
    .legend_content_col-1_text{
        font-size: 16px;
        /* line-height: 25px; */
    }
    .menu_sections_container{
        width: 90%;
    }
    .legend_content_col-1_text{ line-height: 20px;}
    .legend_content_col-1{width:70%}
    .legend_content_col-2{width:15%;}
    .legend_content_col-3{width: 5%;text-align: right;margin-left: 30px}
    .vector_side_img{
     display: none;
    }
  }


  @media only screen and (max-width: 360px) {
   
    .menu_sections_container{
        width: 90%;
    }
    .legend_content_col-1_text{ line-height: 20px;font-size: 16px;}
    .legend_content_col-1{width:70%}
    .legend_content_col-1_text2{margin-top: 5px;}
    .legend_content_col-2{width:15%;align-self: flex-start;margin-top: 20px;}
    .legend_content_col-3{width: 5%;text-align: right;margin-left: 30px;align-self: flex-start;margin-top: 10px;}
    .legend_content_col-1 + .legend_content_col-2{margin-left: 20px;}
    .vector_side_img{
     display: none;
    }
  }

