.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0.8), rgb(0,0,0,0.3)) , url(../../assets/images/Main\ Hero\ 1.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_contentBx {
    width: 61.2rem;
    height: 24.0rem;
    margin: 0 auto;
    text-align: center;
}
.banner_contentBx h1 {
    color: #fff;
    font-size: 7.2rem;
    font-weight: 400;
    line-height: 12.0rem;
    font-family: insta;
}
@media (max-width:991px) {
    .banner {
        padding: 0 60px;
    }
    .banner_contentBx {
        width: 45.2rem;
        height: 18.0rem;
        margin: 0 auto;
    }
    .banner_contentBx h1 {
        font-size: 6.0rem;
        line-height: 10.0rem;
    }
}

@media (max-width:600px) {
    .banner {
        padding: 0 20px;
    }
    .banner_contentBx {
        width: 35.2rem;
        height: 16.0rem;
        margin: 0 auto;
    }
    .banner_contentBx h1 {
        font-size: 4.0rem;
        line-height: 8.0rem;
    }
}