.section {
    padding: 50px 100px;
    position: relative;
}
.reverse_row {
    flex-direction: row-reverse;
}
.sectionBx {
    display: flex;
    align-items: center;
    width: 100%;
}
.section_leftBx , .section_rightBx {
    width: 50%;
}
.section_leftBx img {
    width: 529px;
    height: 529px;
}
.section_rightBx div{
    width: 400px;
    padding-left: 20px;
}
.section_rightBx div h1 {
    font-family: insta;
    padding-bottom: 10px;
    white-space: pre-wrap;
}
.section_rightBx div p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    font-family: Calibri;
}
.section_bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 60px;
    padding: 0 65px;
    position: relative;
}
.section_bottom h1 {
    font-family: insta;
}
.section_bottom p {
    font-size: 20px;
    font-family: Calibri;
    font-weight: 400;
    line-height: 30px;
}
.vector {
    position: absolute;
    right: 0;
    top: 60%;
}
.vector img {
    width: 120px;
    height: 173px;
}
.bottom_image {
    width: 100%;
    height: 450px;
}
.bottom_image img {
    width: 100%;
    height: 100%;
}

@media (max-width:1200px) {

    
}

@media (max-width:991px) {
    .sectionBx {
        flex-direction: column-reverse;
    }
    .section_leftBx , .section_rightBx {
        width: 100%;
    }
    .section_rightBx {
        padding-bottom: 50px;
    }
    .section_rightBx div{
        width: 100%;
        padding-left: 0px;
    }
    .section_rightBx div h1 {
        white-space: nowrap;
    }
    .section_leftBx img {
        width: 100%;
        height: 529px;
    }
    .section_bottom {
        padding: 0 20px;
    }
    .vector {
        top: 80%;
    }
    .vector img {
        width: 70px;
        height: 123px;
    }
}