.footer{
    margin-top: 2rem;
    background-color: #363943;
    padding-top:8rem;
    padding-bottom: 1.5rem;
    /* padding:9rem 0;      */
    
   
}


.footer_container{
    width: 60%;
    /* border:2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer_container_text{
    color: #F6F6F6;
    font-family: Calibri;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
width: 60%;


}

.footer_container_row{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid orange; */
    width: 10%;
    min-width: 100px;
}

.footer_container_contentBottom{
   width: 80%;
    /* align-self: flex-end; */
    padding-top: 80px;
    
    
    margin: 0 auto

   
}


.footer_contentBottom_row{
    display: flex;
    justify-content: space-between;
}
.footer_contentBottom_col{
   
}

.footer_contentBottom_col>p{
    font-family: Calibri;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #F6F6F6;
;
}

.footer_hr{
    /* background-color: grey; */
    border:1px solid grey

}


@media only screen and (max-width: 470px) {
  .footer_contentBottom_row{
      flex-direction: column;
      align-items:center;
  }
  .footer_container_row{
      width: 90%;
  }.footer_container_text{
      width: 100%;
  }
}