.contact_us{
    margin-top: 6rem;
    /* border:2px solid green; */
    padding-bottom: 2.5rem;
}

.contact_us_container{
    width: 50%;
    margin:0 auto;
    /* border:2px solid red; */
  
    margin-top: 1rem;
    /* border:2px solid blue; */
    display: flex;
   
    
     justify-content: center;                 
}

.contact_us_container_section1 {
    /* border:2px solid pink; */
    width: 100%;
    display: flex;
   
    flex-direction: column;
    align-items: center;
}

.contact_us_container_section1_title{
    font-family:insta;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 90px;
letter-spacing: 0em;
text-align: center;
color: #363943;


}


.contact_us_container_section1_text{
    font-family: Calibri;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
color: grey;
}
.container_section1_row{
    display: flex;
    justify-content: center;
    margin-top: 1.7rem;
  
    width: 100%;

}

.container_section1_col{
    width:40%;
    
}
.container_section1_col-2{
    /* border: 1px solid grey; */

}
.container_section1_col>input{
    width: 100%;
    padding: 1rem;
    margin-top: 6px;
    /* height: 100%; */

}
.container_section1_col> input:focus{
    outline:1px solid orange !important;
    border:1px solid white
}
.contact_legend{
    font-size: 11px;

}
fieldset{
border: 1px solid orange;
}
.contact_legend_input{
    width: 100%;
    padding: .8rem;
    outline: none;
    border:1px solid white

}
.contact_legend_input:focus{
    /* outline: 1px solid orange; */
    border: 1px solid white;
    
}
.container_section1_col + .container_section1_col{
    margin-left: 20px;
}
.container_section1_row_3{
    display: flex;
    justify-content: center;
 
    margin-top: 1.7rem;
   ;
   width: 80%;

    
}


.container_section1_col-3{
    
    width: 100%;
   
  


}
.container_section1_col-3>input{
    width: 100%;
    padding: 2.3rem;
    border:1px solid grey
}

.container_section1_col-3>input:focus{
    outline: 1px solid orange;
    border: 1px solid white;
}


@media only screen and (max-width: 660px) {


   .contact_us_container{width: 90%;}
   .contact_us_container_section1_title{
       line-height:70px;

   }
   .contact_us_container_section1_text{
       margin-top: 20px;
       line-height: 30px;
   }
    .container_section1_row{

        flex-direction: column;

  }
  .container_section1_col{
      width: 100%;
      margin-top: 20px;
  }
  .container_section1_col+.container_section1_col{
    margin-left: 0;
}
.container_section1_col>input{
    padding: 1.5rem;

}
.container_section1_col-3>input{
    width: 100%;
    padding: 2.5rem;
}

}